body{
  background-color: #f4f2ed;
}
iframe {
  border-radius: 15px;
  width: 400px; /* Adjust the radius value as needed */
	height: 400px;

}
#contact {
  background: #f4f2ed;
  padding: 5rem 0;
  padding-bottom: 0;
}
.container {
	max-width: 1100px;
	margin: auto;
  }

#contact .container {
  max-width: 900px;
}

#contact .contact-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#contact .contact-info {
  width: 50%;
}

#contact .contact-info div {
  margin: 30px 0;
  line-height: 1.7;
}

#contact .contact-info h3 {
  font-size: 28px;
  color: #383848;
  margin-bottom: 10px;
}

#contact .contact-info p {
  color: #9a9a9a;
}

#contact .contact-info p i {
  color: #e4b95b;
  margin-right: 5px;
}

#contact .contact-info a i {
  color: #fff;
  background: #383848;
  padding: 10px;
  font-size: 20px;
  border-radius: 50%;
}

#contact .contact-info a i:hover {
  background-color: #e4b95b;
  color: #383848;
}


 .container3{
  margin-top: 50px;
  background-color: #f4f2ed;
  border: 1px solid;
  margin-left: 300px;
  align-items: center;
  padding: 20px;
  max-width: 700px;
  width: 100%;
  border-radius: 5px;
 }
 .container3 .title{
  font-size:25px ;
  font-weight: 500;
  position: relative;
 }
 .container3 title::before{
  content: '';
  position:absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;

 }
 .container3 form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

 }
 form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100%/2-20px);
 }
 .user-details .input-box .details{
  display: block;
  font-weight:500 ;
  margin-bottom: 5px;
 }
 .user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;

 }
 form .button{
  height: 45px;
  margin: 45px 0;
 }

 form .button input{
  height: 100%;
  width: 100%;
  outline: none;
  color: #000;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background-color:white;
 }


